torch==2.5.1
torchvision # because torch version already specific, the right torchvision will be derived automatically
torchaudio # because torch version already specific, the right torchvision will be derived automatically
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@ae9cfc6e62ca49eb9721a7a56e1e13e348ad21dc
timm==0.6.7
ftfy
regex
einops
fvcore
eva-decord==0.6.1
iopath
numpy>=2.0
matplotlib
types-regex
cartopy
